<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>
	<appender name="MSG" class="ch.qos.logback.core.FileAppender">
		<file>msg.log</file>
		<encoder>
			<pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ERR" class="ch.qos.logback.core.FileAppender">
		<file>error.log</file>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<appender name="ARENA" class="ch.qos.logback.core.FileAppender">
		<file>arena.log</file>
		<encoder>
			<pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="DOTA" class="ch.qos.logback.core.FileAppender">
		<file>dota.log</file>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="USER" class="ch.qos.logback.core.FileAppender">
		<file>user.log</file>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="cn.gamemate" level="INFO">
		<appender-ref ref="ERR" />
	</logger>
	
	<logger name="cn.gamemate.app.clientmsg" level="TRACE">
		<appender-ref ref="MSG"/>
	</logger>
	<logger name = "cn.gamemate.app.domain.arena" level="DEBUG">
		<appender-ref ref="ARENA" />
	</logger>
	
	<logger name = "cn.gamemate.app.domain.event.dota" level="DEBUG">
		<appender-ref ref="DOTA" />
	</logger>
	<logger name = "cn.gamemate.app.domain.event.awards" level="DEBUG">
		<appender-ref ref="DOTA" />
	</logger>
	
	<logger name = "cn.gamemate.app.web.UserController" level="DEBUG">
		<appender-ref ref="USER" />
	</logger>
	
	
</configuration>